.like-button-wrapper {
    position: relative;
  }
  
  .reactions {
    position: absolute;
    top: -50px;
    left: -10px;
    display: flex;
    justify-content: space-between;
    width: 120px;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .reaction {
    background-color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  .reaction:hover{
    font-size: 40px;
  }
  
  .selected-reaction {
    margin-left: 10px;
    font-size: 20px;
  }
  